<h1 class="h4">Toplantı Katılım Sayfası</h1>
<table class="table table-bordered">
    <thead>
        <tr>
            <td>Ad</td>
            <td>Email</td>
            <td>Katılım Durumu</td>
            <td></td>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>Berkay Emir</td>
            <td>berkayemr@gmail.com</td>
            <td>Evet</td>
            <td>
                <a class="btn btn-sm btn-primary" href="#">Detay</a>
            </td>
        </tr>
        <tr>
            <td>Fatmagül Emir</td>
            <td>fatmagltt@gmail.com</td>
            <td>Evet</td>
            <td>
                <a class="btn btn-sm btn-primary" href="#">Detay</a>
            </td>
        </tr>
    </tbody>
</table>